---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/pfp.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 08 2025')}
	heroImage={AboutHeroImage} 
	width={400}
	height={400} 
>
	<p>
	<ul class="about">
		<li>
			I'm an open-minded and curious person with a strong technical mindset, good problem-solving skills, and a high level of motivation to deliver high-quality results (and a bit of a perfectionist)
		</li>
		<br>
		<li>
			I'm currently interning at <b>Traverse Research</b>, where I work closely with cutting-edge computer vision research. I have worked on <b>3D Gaussian Splatting</b>, real-time <a href={`https://www.linkedin.com/posts/evolve-benchmark_were-releasing-our-neural-radiance-caching-ugcPost-7341546048185589761-2JR3?utm_source=share&utm_medium=member_desktop&rcm=ACoAAE3qvCUBCWJEn-r1stFdXoqVmK5JFokQF38`}><b>Neural Radiance Caching</b></a>, and most recently, <b>3D Gaussian Ray Tracing</b>
		</li>
		<br>
		<li>
			I'm studying <b>Creative Media and Game Technologies</b> at <b>Breda University of Applied Sciences</b>
		</li>
		<br>
		<li>
			I come from a small and beautiful country near the Baltic Sea - <b>Lithuania</b>. We speak one of the oldest languages in the world, are surrounded by lush forests, and enjoy some truly unique (and a bit strange) cuisine
		</li>
		<br>
		<li>
			I speak three languages: <b>Lithuanian</b>, <b>English</b>, and <b>Russian</b>
		</li>
		<br>
		<li>
			I've been programming since I was 16 and fell in love with graphics programming more recently. Right now, I’m especially interested in the latest advancements in <b>computer vision</b>
		</li>
		<br>
		<li>
			In my free time, I love <b>traveling</b>, <b>taking photos</b> and going to <b>concerts</b>
		</li>
		<br>
		<li>
			Some games that inspire me are <b>Hades</b>, <b>Gris</b>, <b>Cyberpunk 2077</b>, <b>DOOM</b>, and <b>Half-Life</b>
		</li>
		<br>
		<li>
			I'm fueled by <b>coffee</b> and <b>Italian food</b>
		</li>

	</ul> 
	</p>
</Layout>
